<section class="  min-w-full  flex justify-center items-center  signbg">
  <div class=" w-[500px] mx-auto   rounded-3xl shadow-lg  mt-[100px] mb-[100px]  bg-white/30  rodtion">
    <h1 class=" text-gray-900 pt-8 pb-5  text-center text-3xl fonnt font-serif">Forgot Password</h1>
@if (step ==1) {
  <form [formGroup]="verifyemail" (ngSubmit)="verifyemailform()"  class="max-w-md mx-auto text-center">
    <div class="relative mb-6 px-2">
      <div class="absolute inset-y-0 start-0 flex items-center ps-5 pointer-events-none">
        <span class="w-4 h-4 text-gray-500  justify-center items-center  flex dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
          <i class="fa-solid fa-envelope"></i>
        </span>
      </div>
      <input  formControlName="email"  type="email" id="email"  class="bg-gray-50 border border-[#dc7632] text-gray-900 text-sm rounded-lg focus:ring-[#dc7632] focus:border-[#dc7632] block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#dc7632] dark:focus:border-[#dc7632]" placeholder="Your Email@gmail.com">
    </div>
    @let controlemail=verifyemail.get('email');
    @if (controlemail?.errors && controlemail?.touched) {
      <div class="flex p-2  mx-10 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        <div class=" flex">
          <svg class="shrink-0 inline w-4 h-4  mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
            <ul class="ps-2 ">
              @if (controlemail?.getError('required')) {
                <li>email required</li>
              }
              @else if (controlemail?.getError('email')) {
                <li>Enter Valid Email </li>
              }
          </ul>
        </div>
    </div>
    }
    <button  type="submit" [disabled]="verifyemail.invalid" class="  text-white bg-gradient-to-r mb-8 from-[#dc7632] via-[#fe8f45] to-[#dc7632] hover:bg-gradient-to-br  focus:outline-none  font-medium rounded-xl text-sm px-[50px] py-3 text-center block mx-auto">
        Verify Email
      </button>
  </form>
}
@else if (step ==2) {
  <form [formGroup]="verifycode" (ngSubmit)="verifycodeform()"  class="max-w-md mx-auto text-center">
    <div class="relative mb-6 px-2">
      <div class="absolute inset-y-0 start-0 flex items-center ps-5 pointer-events-none">
        <span class="w-4 h-4 text-gray-500  justify-center items-center  flex dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
          <i class="fa-solid fa-window-restore"></i>
        </span>
      </div>
      <input  formControlName="resetCode"  type="text" id="resetCode"  class="bg-gray-50 border border-[#dc7632] text-gray-900 text-sm rounded-lg focus:ring-[#dc7632] focus:border-[#dc7632] block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#dc7632] dark:focus:border-[#dc7632]" placeholder="Code">
    </div>
    @let controlcode=verifycode.get('resetCode');
    @if (controlcode?.errors && controlcode?.touched) {
      <div class="flex p-2  mx-10 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        <div class=" flex">
          <svg class="shrink-0 inline w-4 h-4  mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
            <ul class="ps-2 ">
              @if (controlcode?.getError('required')) {
                <li>resetcode required</li>
              }
              @else if (controlcode?.getError('pattern')) {
                <li>Enter Valid resetcode 6 number </li>
              }
          </ul>
        </div>
    </div>
    }
    <button  type="submit" [disabled]=" verifycode.invalid" class="  text-white bg-gradient-to-r mb-8 from-[#dc7632] via-[#fe8f45] to-[#dc7632] hover:bg-gradient-to-br  focus:outline-none  font-medium rounded-xl text-sm px-[50px] py-3 text-center block mx-auto">
        Verify Code
      </button>
  </form>
}
@else if (step ==3) {
  <form [formGroup]="resetpassword" (ngSubmit)="verifypasseordform()"  class="max-w-md mx-auto text-center">
    <div class="relative mb-6 px-2">
      <div class="absolute inset-y-0 start-0 flex items-center ps-5 pointer-events-none">
        <span class="w-4 h-4 text-gray-500  justify-center items-center  flex dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
          <i class="fa-solid fa-envelope"></i>
        </span>
      </div>
      <input  formControlName="email"  readonly type="email" id="email"  class="bg-gray-50 border border-[#dc7632] text-gray-900 text-sm rounded-lg focus:ring-[#dc7632] focus:border-[#dc7632] block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#dc7632] dark:focus:border-[#dc7632]" placeholder="Your Email@gmail.com">
    </div>
    @let controlEmail=resetpassword.get('email');
    @if (controlEmail?.errors && controlEmail?.touched) {
      <div class="flex p-2  mx-10 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        <div class=" flex">
          <svg class="shrink-0 inline w-4 h-4  mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
            <ul class="ps-2 ">
              @if (controlEmail?.getError('required')) {
                <li>email required</li>
              }
              @else if (controlEmail?.getError('email')) {
                <li>Enter Valid Email </li>
              }
          </ul>
        </div>
    </div>
    }
    <div class="relative mb-6 px-2">
      <div class="absolute inset-y-0 start-0 flex items-center ps-5 pointer-events-none">
        <span class="w-4 h-4 text-gray-500  justify-center items-center  flex dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
          <i class="fa-solid fa-lock"></i>
        </span>
      </div>
      <input  formControlName="newPassword" type="password" id="password"  class="bg-gray-50 border border-[#dc7632] text-gray-900 text-sm rounded-lg focus:ring-[#dc7632] focus:border-[#dc7632] block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#dc7632] dark:focus:border-[#dc7632]" placeholder="Password">
    </div>
    @let controlpassword =resetpassword.get('newPassword');
    @if (controlpassword?.errors && controlpassword?.touched) {
      <div class="flex p-2  mx-10 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        <div class=" flex">
          <svg class="shrink-0 inline w-4 h-4  mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
            <ul class="ps-2 ">
              @if (controlpassword?.getError('required')) {
                <li>password required</li>
              }
              @else if (controlpassword?.getError('pattern')) {
                <li>password must start with upperCase then from 6 to more any chars  </li>
              }
          </ul>
        </div>
    </div>
    }
    <button  type="submit" [disabled]="resetpassword.invalid" class="  text-white bg-gradient-to-r mb-8 from-[#dc7632] via-[#fe8f45] to-[#dc7632] hover:bg-gradient-to-br  focus:outline-none  font-medium rounded-xl text-sm px-[50px] py-3 text-center block mx-auto">
        Verify Email
      </button>
  </form>
}
  </div>
</section>

