<section class="  min-w-full  flex justify-center items-center  signbg">
  <div class=" w-[500px] mx-auto   rounded-3xl shadow-lg  mt-[100px] mb-[100px]  bg-white/30  rodtion">
    <div class=" flex items-center justify-center">
      <img src="/images/logo[2].jpg" alt="" width="150px" class=" rounded-full -m-[70px] " srcset="">
    </div>
    <h1 class=" text-gray-900 pt-[80px]  pb-5  text-center text-3xl fonnt"> Register Now</h1>
    <p class=" font-semibold text-red-700  text-center">{{messerror}}</p>
    <p class=" font-semibold text-green-700  text-center">{{isSuccess}}</p>
<form [formGroup]="registerforms"  (ngSubmit)="submitform()"  class="max-w-md mx-auto">
  <div class="relative mb-6 px-10">
    <div class="absolute inset-y-0 start-0 flex items-center ps-12 pointer-events-none">
      <span class="w-4 h-4 text-gray-500  justify-center items-center  flex dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
        <i class="fa-solid fa-user"></i>
      </span>
    </div>
    <input  formControlName="name" type="text" id="name" class="bg-gray-50 border border-[#dc7632] text-gray-900 text-sm rounded-lg focus:ring-[#dc7632] focus:border-[#dc7632] block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#dc7632] dark:focus:border-[#dc7632]" placeholder="Your Name">
  </div>
  @let controlname=registerforms.get('name');
  @if (controlname?.errors && controlname?.touched) {
    <div class="flex p-2  mx-10 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
      <div class=" flex">
        <svg class="shrink-0 inline w-4 h-4  mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
          <ul class="ps-2 ">
            @if (controlname?.getError('required')) {
              <li>name required</li>
            }
            @else if (controlname?.getError('minlength')) {
              <li>Name Min Length 3</li>
            }
            @else if (controlname?.getError('maxlength')) {

              <li>Name Max Length 20</li>
            }
        </ul>
      </div>
  </div>
  }
  <div class="relative mb-6 px-10">
    <div class="absolute inset-y-0 start-0 flex items-center ps-12 pointer-events-none">
      <span class="w-4 h-4 text-gray-500  justify-center items-center  flex dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
        <i class="fa-solid fa-envelope"></i>
      </span>
    </div>
    <input  formControlName="email"  type="email" id="email"  class="bg-gray-50 border border-[#dc7632] text-gray-900 text-sm rounded-lg focus:ring-[#dc7632] focus:border-[#dc7632] block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#dc7632] dark:focus:border-[#dc7632]" placeholder="Your Email@gmail.com">
  </div>
  @let controlemail=registerforms.get('email');
  @if (controlemail?.errors && controlemail?.touched) {
    <div class="flex p-2  mx-10 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
      <div class=" flex">
        <svg class="shrink-0 inline w-4 h-4  mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
          <ul class="ps-2 ">
            @if (controlemail?.getError('required')) {
              <li>email required</li>
            }
            @else if (controlemail?.getError('email')) {
              <li>Enter Valid Email </li>
            }
        </ul>
      </div>
  </div>
  }
  <div class="relative mb-6 px-10">
    <div class="absolute inset-y-0 start-0 flex items-center ps-12 pointer-events-none">
      <span class="w-4 h-4 text-gray-500  justify-center items-center  flex dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
        <i class="fa-solid fa-lock"></i>
      </span>
    </div>
    <input  formControlName="password" type="password" id="password" class="bg-gray-50 border border-[#dc7632] text-gray-900 text-sm rounded-lg focus:ring-[#dc7632] focus:border-[#dc7632] block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#dc7632] dark:focus:border-[#dc7632]" placeholder="Password">
  </div>
  @let controlpassword =registerforms.get('password');
  @if (controlpassword?.errors && controlpassword?.touched) {
    <div class="flex p-2  mx-10 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
      <div class=" flex">
        <svg class="shrink-0 inline w-4 h-4  mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
          <ul class="ps-2 ">
            @if (controlpassword?.getError('required')) {
              <li>password required</li>
            }
            @else if (controlpassword?.getError('pattern')) {
              <li>password must start with upperCase then from 6 to more any chars  </li>
            }
        </ul>
      </div>
  </div>
  }
  <div class="relative mb-6 px-10">
    <div class="absolute inset-y-0 start-0 flex items-center ps-12 pointer-events-none">
      <span class="w-4 h-4 text-gray-500  justify-center items-center  flex dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
        <i class="fa-solid fa-lock"></i>
      </span>
    </div>
    <input  formControlName="rePassword"  type="password" id="repassword" class="bg-gray-50 border border-[#dc7632] text-gray-900 text-sm rounded-lg focus:ring-[#dc7632] focus:border-[#dc7632] block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#dc7632] dark:focus:border-[#dc7632]" placeholder="RePassword">
  </div>
  @if (registerforms.getError('mismatch')&& registerforms.get('rePassword')?.touched) {
    <div class="flex p-2  mx-10 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
      <div class=" flex">
        <svg class="shrink-0 inline w-4 h-4  mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
          <ul class="ps-2 ">
              <li>Password confirmation is incorrect</li>
        </ul>
      </div>
  </div>
  }
  @if (registerforms.get('rePassword')?.getError('required')&& registerforms.get('rePassword')?.touched) {
    <div class="flex p-2  mx-10 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
      <div class=" flex">
        <svg class="shrink-0 inline w-4 h-4  mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
          <ul class="ps-2 ">
              <li>rePassword required </li>
        </ul>
      </div>
  </div>
  }
  <div class="relative mb-6 px-10">
    <div class="absolute inset-y-0 start-0 flex items-center ps-12 pointer-events-none">
      <span class="w-4 h-4 text-gray-500  justify-center items-center  flex dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
        <i class="fa-solid fa-phone"></i>
      </span>
    </div>
    <input  formControlName="phone"  type="tel" id="phone" class="bg-gray-50 border border-[#dc7632] text-gray-900 text-sm rounded-lg focus:ring-[#dc7632] focus:border-[#dc7632] block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#dc7632] dark:focus:border-[#dc7632]" placeholder="Your number">
  </div>
  @let controlphone=registerforms.get('phone');
  @if (controlphone?.errors && controlphone?.touched) {
    <div class="flex p-2  mx-10 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
      <div class=" flex">
        <svg class="shrink-0 inline w-4 h-4  mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
          <ul class="ps-2 ">
            @if (controlphone?.getError('required')) {
              <li>phone required</li>
            }
            @else if (controlphone?.getError('pattern')) {
              <li>accept only egypt phone numbers</li>
            }
        </ul>
      </div>
  </div>
  }
  <button  [disabled]="isloading" type="submit" class="  text-white bg-gradient-to-r mb-8 from-[#dc7632] via-[#fe8f45] to-[#dc7632] hover:bg-gradient-to-br  focus:outline-none  font-medium rounded-xl text-sm px-[50px] py-3 text-center block  mx-auto ">
    Register
@if (isloading) {
  <i class=" fas fa-spinner fa-spin"></i>
}
  </button>

</form>
  </div>
</section>
