<section>
  <div class=" grid md:grid-cols-[70%_minmax(0,1fr)]">
    <div class=" overflow-hidden" >
      <owl-carousel-o [options]="custommainOptions">
        <ng-template carouselSlide><img src="/images/img1.avif" class=" w-full h-[400px] " alt="" srcset=""></ng-template>
        <ng-template carouselSlide><img src="/images/img2.avif" class=" w-full h-[400px] " alt="" srcset=""></ng-template>
        <ng-template carouselSlide><img src="/images/img3.avif" class=" w-full h-[400px] " alt="" srcset=""></ng-template>
        <ng-template carouselSlide><img src="/images/img4.avif" class=" w-full h-[400px] " alt="" srcset=""></ng-template>
        <ng-template carouselSlide><img src="/images/img5.avif" class=" w-full h-[400px] " alt="" srcset=""></ng-template>
        <ng-template carouselSlide><img src="/images/img6.avif" class=" w-full h-[400px] " alt="" srcset=""></ng-template>
        <ng-template carouselSlide><img src="/images/img7.avif" class=" w-full h-[400px] " alt="" srcset=""></ng-template>
        <ng-template carouselSlide><img src="/images/bgher4.jpg" class=" w-full h-[400px] " alt="" srcset=""></ng-template>
        <ng-template carouselSlide><img src="/images/bgher3.jpg" class=" w-full h-[400px] " alt="" srcset=""></ng-template>
        <ng-template carouselSlide><img src="/images/bghero.jpg" class=" w-full h-[400px] " alt="" srcset=""></ng-template>
        <ng-template carouselSlide><img src="/images/bghero2.jpg" class=" w-full h-[400px] " alt="" srcset=""></ng-template>

      </owl-carousel-o>
    </div>
    <div >
      <img src="images/grocery-banner.png" class=" w-full h-[200px] " alt="" srcset="">
      <img src="images/grocery-banner-2.jpeg" class=" w-full h-[200px] " alt="" srcset="">
    </div>
  </div>
</section>
<section >
  <h2 class=" text-gray-900   italic py-8 text-4xl font-serif"> Popular Categories</h2>
  <owl-carousel-o [options]="customOptions">
    @for (cat of categories; track cat._id) {
      <ng-template carouselSlide >
        <div class="">
          <img [src]="cat.image" class=" w-full h-[250px]" alt="" srcset="">
          <h3 class="text-[#dc7632]  text-center ">{{ cat.name}}</h3>
        </div>
      </ng-template>
    }
  </owl-carousel-o>
</section>
<section class=" container" >
  <h2 class=" text-gray-900 italic  py-10 text-5xl font-serif"> Popular Product</h2>
  <div class=" grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4  gap-10 mt-100">
    @for (prod of products ; track prod.id) {
      <div class="   hover:shadow-2xl hover:shadow-[#dc7632] card border border-[#dc7632]/50 rounded-md overflow-hidden shadow relative">
        <div >
          <div [routerLink]="['/details',prod._id]" class="card-img">
            <img [src]="prod.imageCover" class="w-full h-[250px] " [alt]="prod.title" />
          </div>
          <div class="card-body px-2 py-4 flex flex-col justify-between ">
            <h4 class="text-[#dc7632]  font-serif  pb-3 text-xl   text-center  capitalize">{{ prod.category.name }}</h4>
            <h3 class="font-sm text-black pb-3">{{ prod.title .split(" ",4).join(" ")}}</h3>
            <div class="flex justify-between items-center">
              <span class="text-[#dc7632]">{{prod.price |currency:'EUR' }}</span>
              <div class="flex items-center">
                @if (!wishlist.includes(prod.id)) {
                  <i (click)="addwishlist(prod.id)" class="fa-solid fa-heart  me-3 text-xl "></i>
                }
                @else if (wishlist.includes(prod.id)) {
                  <i (click)="removewishlist(prod.id)" class="fa-solid fa-heart text-red-600  me-3 text-xl "></i>
                }
                @for (num of [1,2,3,4,5].slice(prod.ratingsAverage); track $index) {
                  <i class="fas fa-star text-yellow-300"></i>
                }@if (prod.ratingsAverage % 1 !==0) {
                  <i class=" fa-solid fa-star-half-stroke text-yellow-300 "></i>
                }
                <span class=" ps-1">{{prod.ratingsAverage}}</span>
              </div>
            </div>
          </div>
        </div>
        <button type="button" (click)="addtocart(prod.id)" class="text-white border border-[#dc7632] bg-[#dc7632] hover:border-[#dc7632] hover:text-[#dc7632] hover:bg-white focus:ring-1 focus:ring-[#dc7632] font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-[#dc7632] dark:hover:bg-[#dc7632] focus:outline-none dark:focus:ring-[#dc7632] w-[90%] block mx-auto">Add To Cart</button>
      </div>
      }
  </div>
</section>
