

<footer class="  shadow-lg bg-gray-900 ">
<div class=" px-10">
  <div class="">
    <h2 class=" text-2xl pt-10 text-clip  font-serif  text-[#dc7633]">Get The FreshCart App</h2>
    <p class="  text-md py-2 text-white">
      We Will Send You a Link, Open it on Your Phone to download the app
    </p>
  </div>

  <form class="flex items-center max-w-xlg mx-auto ">
    <div class="relative mb-6 flex-grow">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
          <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
          <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
        </svg>
      </div>
      <input type="text" id="input-group-1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#dc7633] focus:border-[#dc7633] block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#dc7633] dark:focus:border-[#dc7633]" placeholder="name@gmail.com">
    </div>
    <button type="submit" class="inline-flex items-center -mt-5 py-2.5 px-3 ms-2 text-sm md:font-medium text-white bg-[#dc7633] rounded-lg border border-[#dc7633] hover:bg-[#d35400] focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-[#dc7633] dark:hover:bg-[#d35400] dark:focus:ring-[#d35400]">
      <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
      </svg>Share App Link
    </button>
  </form>

  <hr class="my-1 border-gray-200 sm:mx-auto dark:border-gray-200 lg:my-1" />
      <!-- footer payment Details Design  -->
      <div class="pay-details md:flex justify-between items-center py-8 ">
        <div class="flex items-center gap-2">
          <h3 class=" text-[#dc7633]  m-0 text-sm lg:text-xl">Payment partners</h3>
          <img src="/images/amazon-pay.png" width="40px" alt="" />
          <img
            src="/images/American-Express-Color.png"
            width="60px"
            alt=""
            width="40px"
          />
          <img src="/images/paypal.png" width="40px" alt="" />
          <img src="images/mastercard.webp" width="40px" alt="" />
        </div>

        <div class="flex items-center gap-2 ">
          <h3 class="text-sm lg:text-xl m-0 text-[#dc7633]">Get Deliveries with FreshCart</h3>
          <img src="/images/get-google-play.png" width="50px" alt="" />
          <img src="/images/get-apple-store.png" width="50px" alt="" />
        </div>
      </div>
</div>

</footer>



